<header>
    <h1>Reseguide till Toscana</h1>
    <nav>
        <ul>
            <li><a href="index.html">Startsida</a></li>
            <li><a href="om-toscana.html">Om Toscana</a></li>
            <li><a href="byar-och-stader.html">Byar och städer</a></li>
            <li><a href="mat-och-vin.html">Mat och vin</a></li>
            <li><a href="vingardar.html">Vingårdar</a></li>
            <li><a href="sevardheter.html">Sevärdheter</a></li>
            <li><a href="karta.html">Karta</a></li>
        </ul>
    </nav>
</header>